
run = "npm run dev"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 46606100
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Deploy to GitHub Pages"
author = 46606100
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git add ."

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git commit -m \"Deploy to GitHub Pages: $(date)\""

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "git push origin main"

[[deployment.rewrites]]
from = "/*"
to = "/index.html"
